html, body {

  background-color: #2D2E32 !important;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

* {
  margin: 0px;
  padding: 0px;
}
/* ----------------------------------------- */
  /* ----Menu Amburgueza---- */


  .bars__menu{
    display: none;;
    width: 30px;
    height: 30px;
    margin-top: 22px;
    float: right;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  border: solid 1px rgb(63, 163, 163, 0.1);
  opacity: 0.9;
  z-index: 1000;
  transition: top 0.6s ease-in-out;
}

.navbar-container.hidden {
  top: -100px; /* altura suficiente para ocultar el elemento */
}




.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(62, 163, 163);
    margin-top: 7px;
    transform-origin: 0px 100%;
    transition: all 500ms;
}


.activeLine1-Bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeLine2-Bars-menu{
    opacity: 0;
    margin-left: -400px;
}

.activeLine3-Bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}


/* --------------------------------------- */



.nav-bar-btn {
  margin-right: 15px;
  width: 100%;
}


.bnt-custom {
  background-color: #2D2E32 !important;
  border-color: #2D2E32 !important;

}

.btn:focus {
  box-shadow: none !important;
}

.nav-bar-btn :focus {

 text-decoration:overline;


}

/* --------dropdown--------- */

.dropdown {
  float: right;
  width: 100%;
  height: 230px;
  margin: 0px;
  margin-top: 0px;
  scroll-margin-right: 0px;
  background-color: #2D2E32
}

.dropdown-content  {
  display: block;
  float: right;
  margin-top: 5px;

}

.dropdown-content a {
  justify-content: flex-start;
}


.activedropdown-content {
 display: block;
 float: right;
 margin-top: 10px;
 }


@media screen and (max-width: 800px) {

  .bars__menu {
    display: block;
  }

  .dropdown-content {
    width: 60%;
    width: 100%;
    height: 0;
    margin-top: 52.8px;
    position: relative;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    z-index: 999;
  }

  .dropdown-content a {
    display: block;
  }


  .dropdown-content.active {
    display: block;
    height: 158px;
  }


  .nav-bar-btn {
    height: 125px;
    background-color: rgb(62, 163, 163, 0.2);
    transition: background-color 0.8s;
    transition: 0.6s;
  }

  .nav-bar-btn :hover {
    color:  rgb(62, 163, 163);
    transform: scale(1.08, 1.05);

  }

  .nav-bar-btn :focus {
    text-decoration: none;
    background-color:  rgb(62, 163, 163, 0.1) !important;
  }

  .fa-solid {
    display: block;
    float: right;

  }

  .bnt-custom {
    background-color: transparent;
    color: #2D2E32;
    margin-top: 1px;
  }

  .greeting {
    margin: 0px 0px 20px 2px;
  }

  #big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
  }

  .link-chat {
    color: #ffffff; /* Color A */
    animation: color-transition 1.5s infinite alternate;
  }

  @keyframes color-transition {
    5% {
      color: #ffffff; /* Color A */
    }
    100% {
      color:  rgb(62, 163, 163);
    }
  }


  #img {
    margin-right: 50px;
    width: 270px;
    height: 230px;

  }

  .card-container {

    margin-left: 7px !important;
  }

  .card-project {
    display: block;
    width: 340px !important;
    height: 270px !important;


  }

  .fa-regular.fa-folder {
    font-size: 20px !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
    transition: 0.6s !important;
  }

  .fa-regular.fa-folder:hover {
    transform: scale(1.05, 1.05) !important;
  }

  .about {
    color: white;
    width: 150px;
  /* margin-right: 200px; */
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 0px;


  /* grid-row: 5; */
  }


}






/* -------Info-------- */

.greeting {
  margin-top: 15px;
}

#greeting {
  margin-top: 80px;
  margin-left: 9px;
  font-size: 13px;
  color: rgb(62, 163, 163);


}

#big-heading {

  margin-bottom: 25px;
  color: white;
  margin-left: 8px;
  font-family: 'Fira Code', monospace;
  transition: 0.6s;
}

#big-heading:hover {
 transform: scale(1.05, 1.05);
}

#profession {
  color: white;
  border-radius: 4px;
  background-color:  rgb(62, 163, 163);
  cursor: pointer;
  font-family: 'Fira Code', monospace;
  margin-left: 8px;
  padding: 0.680rem 0.75rem;
  text-decoration: none;
  transition: background-color 0.8s;

}

#profession:hover {
  background-color:  rgb(80, 142, 173);

}

#text-p {
 color: #707175;
 margin-left: 8px;
 padding-top: 5px;
 transition: 0.6s;
}

#text-p:hover {
transform: scale(1.05, 1.05);
}

#description {
  color: white;
  font-size: 35px;
  margin-left: 8px;
  transition: 0.6s;
  margin-left: 8px;
  margin-top: 10px;
}

#description:hover {
  transform: scale(1.05, 1.05);
}

#tag-p {
  color: white;
  font-size: 35px;
  margin-left: 8px;
  margin-top: -30px;
  transition: 0.6s;
}

#tag-p:hover {
  transform: scale(1.05, 1.05);
}

.Get-in-touch  {
  color: white;
  font-size: 35px;
  margin-left: 8px;
}

.link-chat {
  text-decoration: none;
  color: #ffffff;
  transition: 0.8s;
}

.link-chat:hover {
color:   rgb(62, 163, 163);
transform: scale(1.2, 1.2);
}

.img-fluid {
  float: right;
}


/* ----Projects----- */

.card-project{

  border: solid 1px rgb(63, 163, 163, 0.1);
  border-radius: 3px;
  background-color: #2D2E32;
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  transition: transform 0.6s ease-in-out;
}

.px-5 {
  padding: -25px !important;
}


.card-project:hover {
  transform: translateY(-10px) scale(1.05);
}


.fa-regular.fa-folder {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  transition: 0.6s;
}


/* .img {
  width: 400px;
  height: 400px;
}

/* Media query para pantallas extra-extra grandes (xxl) */
/* @media (min-width: 1400px) {
  .img {
    width: 400px;
    height: 400px;
  }
} */

/* Media query para pantallas extra grandes (xl) */
/* @media (min-width: 1200px) and (max-width: 1399px) {
  .img {
    width: 350px;
    height: 350px;
  }
} */

/* Media query para pantallas grandes (lg) */
/* @media (min-width: 992px) and (max-width: 1199px) {
  .img {
    width: 300px;
    height: 300px;
  }
} */

/* Media query para pantallas medianas (md) */
/* @media (min-width: 768px) and (max-width: 991px) {
  .img {
    width: 250px;
    height: 250px;
  }
} */

/* Media query para pantallas pequeñas (sm) */
/* @media (max-width: 767px) {
  .img {
    width: 200px;
    height: 200px;
  }
} */


/* ---------------------------------------------------------- */




.btn-light {
color:  rgb(245, 246, 246)!important;
animation: 0.8s;
}


.btn-light:hover {
  color:  rgb(62, 163, 163) !important;
  }

.btn-link-project {
  color:#6caed4;
}

/* -------------------------------------------------------------- */

.card-container-background {

  background-color: #25262A;
  border: solid 1px rgb(63, 163, 163, 0.1);
}


.card-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  margin-top: 15px;
  margin-left: 15%;
  background-color: #25262A;

}



.icon-container {
  display: block;
  position: relative;

  background-color:#2D2E32;
  color:#ffffff;

  width: 32px;
  height: 80px;

}


.my-5 {
  width: 350px;
}

.avatar {
  margin-top: 111px;
  margin-left: 50px;
}

.my-custom-margin {
  margin-top: 20px;
  margin-bottom: 30px;
}



/* //------------------------------ */

.about-me{
  color: white;
  width: 100%;
/* margin-right: 200px; */
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 1px;


/* grid-row: 5; */
}

.about-p {
  /* display: flex;
  justify-content: center; */

  color: rgb(92 179 223);
}

footer {
  width: 100%;
}


 .footer-content {
  background-color: #25262A;
  border: solid 1px rgb(63, 163, 163, 0.1);
  width: 100%;
}

.ul-list {
  background-color: #2D2E32;
  width: 100%;
  height: 100%;

}

.ul-list a {
  text-decoration: none;
}

.box {
padding: 0px !important;
}

.footer-basic ul a {
  color: #ffffff;
  text-decoration:none;
  opacity:0.8;

}

.footer-basic ul a:hover {
  opacity:1;

}

 .footer-company-big-heading {
font-size: 10px;
margin-top: 5px;
color: white;
}

.list-inline-item a {
  font-size: 12px;
  color: rgb(92 179 223);

}

.list-inline-item a:hover {
 color:  rgb(63,163, 163);
}


/*

.social > a {
   font-size:17px;
  width: 30px;
  height:30px;
  line-height:32px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-top:  10px;
  margin-left: 25px;
  color:inherit;
  opacity:0.75;
} */

.footer-basic .social > a:hover {
  opacity:0.9;

}
